<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-EN" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:url" content="https://yannklein.github.io/lewagon-xmas-glasses/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Le Wagon Tokyo - Xmas glasses" />
    <meta property="og:description" content="Put on your glasses, celebrate Xmas with Le Wagon 🎅" />
    <meta class="capture-meta" property="og:image" content="<%= @image %>" />
    <title>Le Wagon Tokyo - Xmas glasses</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="container">
      <div class="title">
        <a class="title-link" href="/">
          <img src="/images/logo.png" alt="">
          <h1>Put on your glasses, celebrate Xmas with Le Wagon 🎅</h1>
        </a>
      </div>
      <img class="img-selfie" src="<%= @image %>" alt="Le Wagon Xmas glasses selfie">
      <p class="social-text" >Share it around you👇</p>
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_line"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_copy_link"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <p class="footer">
        More AR and other projects on
        <a href="https://www.yannklein.me">
          Yann Klein's portfolio
        </a>
      </p>
    </div>
  </body>
</html>

